.ngq_object {
	&-comma {
		margin-left: 0.2em;
		margin-right: 0.5em;
	}

	&-row {
		display: flex;
		align-items: center;
		margin-bottom: 1em;
		justify-content: flex-start;

		& > *:not(:last-child) {
			margin-right: 1em;
		}

		h3 {
			border-left: 0;
			padding-left: 0;
			margin-left: 0;
		}
	}

	&-image {
		width: calc(100% + 2em);
		height: 12em;
		max-height: 40%;
		margin: -1em -1em 1em -1em;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		display: none;
	}
}
