:host {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99998;
}

.loading__directive-image {
	width: 75px;
	height: 75px;
	max-height: 75%;
}
