@import 'mixins';

:host {
	flex-wrap: nowrap;
}

.ngq_details {
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: row;
	flex: 1;
	align-self: stretch;
	justify-self: stretch;
	height: 100%;
	width: 100%;
}

ngq-sidebar-card {
	margin-bottom: 1em;
}
